<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-tw-200 bg-white px-6">
    <div class="flex h-16 shrink-0 items-center">
      <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=tw&shade=600" alt="Your Company">
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
          <% navigations.each do |navigation| %>
            <li>
              <%= link_to navigation[:url], class: "group nav-item #{ current_page?(navigation[:url]) ? 'active' : 'default' }" do %>
                <% if navigation[:icon].present? %>
                  <%= render navigation[:icon], style: "icon" %>
                <% else %>
                  <%= render "layouts/tailwind/scaffold/admin/icons/default", style: "icon" %>
                <% end %>
                <%= navigation[:name] %>
              <% end %>
            </li>
          <% end %>
          </ul>
        </li>
        <li>
          <div class="text-xs font-semibold leading-6 text-tw-400">Settings</div>
          <ul role="list" class="-mx-2 mt-2 space-y-1">
            <li>
              <!-- Current: "bg-tw-50 text-tw-500", Default: "text-tw-700 hover:text-tw-500 hover:bg-tw-50" -->
              <a href="#" class="text-tw-700 hover:text-tw-500 hover:bg-tw-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white text-tw-400 border-tw-200 group-hover:border-tw-600 group-hover:text-tw-500">A</span>
                <span class="truncate">App configs</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="-mx-6 mt-auto">
          <a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-tw-900 hover:bg-tw-50">
            <img class="h-8 w-8 rounded-full bg-tw-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <span class="sr-only">Your profile</span>
            <span aria-hidden="true">Tom Cook</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
